{% extends 'base.html' %}

{% block content%}
<div class="row">
  <div class="col-xl-5" style="margin-top:17%;">
    <form action="" method="post" style="background:#1B1E1C;
    border-radius:7px;padding:5%;">
      {% csrf_token %}
    <h2 style ="margin-bottom:20px;color:#1DB954;"> Login with your account </h2>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-id-card-alt"></i></div>
          </div>
          {{ form.username }}
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-key"></i></div>
          </div>
          {{ form.password }}
        </div>
      </div>
      <br><center>
      <button type="submit" class="btn" style="background:#1DB954;color:white;">Log in</button>
      </center>
    </form>
  </div>
  <div class="col-xl-6 image-floating" style="margin-top:7%;"
  data-aos="fade-up" data-aos-duration="1000">
    {% load static %}
    <img src="{% static 'airballoon3.svg' %}" alt="">
  </div>
</div>
{% endblock %}