{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Time Box</title>

  <!-- Custom fonts -->
  <link href="{% static 'dash_files/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles -->
  <link href="{% static 'dash_files/css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'common.css' %}" rel="stylesheet" type="text/css">
  <!-- Data AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Waves effect -->
  <link href="{% static 'waves.css' %}"  rel="stylesheet" type="text/css">
  {% load static %}
  <link rel="icon" href="{% static 'favi2.png' %}">
</head>

<body id="page-top" style="font-family:'Nunito';">

  <!-- Page Wrapper -->
  <div id="wrapper" style="background:url({% static 'memphis-mini-dark.png' %});">

    <!-- Sidebar 1F231F 35B11F #151715 Previous Background:#1B1E1C-->
    <ul style="background:#111311; transition:0.1s ease;opacity:0.95" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center"
         href='' style="margin-top:30px;margin-bottom:25px;color:#1DB954">
        <div class="sidebar-brand-icon">
            <img src="{% static 'logo2.svg' %}" height="40px">
        </div>
        <div class="sidebar-brand-text mx-3">Time Box</div>
      </a>

      <li class="d-flex align-items-center justify-content-center" style="margin-bottom:20px;">
          <div class="text-white"><b>
              <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;Navigation</b>
          </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item {% block dash_class %}{% endblock %}
      nav-item-side waves-effect waves-green">
        <!--style="background:#35B11F;border-radius: 25px;">-->
        <a class="nav-link" href="/Profile"
            style="{% block dash_style %}{% endblock %}" >
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading" style="margin-bottom:10px;margin-top:10px">
        Task Manager
      </div>

      <!-- Nav Item - Weekly Goals -->
      <li class="nav-item {% block week_class %}{% endblock %}
       waves-effect waves-green nav-item-side"
            style="{% block week_style %}{% endblock %}">
        <a class="nav-link" href="week">
          <i class="fas fa-fw fa-flag-checkered"></i>
          <span>Weekly Goals</span>
        </a>
      </li>

      <!-- Nav Item - Daily List -->
      <li class="nav-item {% block today_class %}{% endblock %}
      waves-effect waves-green nav-item-side"
            style="{% block today_style %}{% endblock %}">
        <a class="nav-link" href="today">
          <i class="fas fa-fw fa-list-ul"></i>
          <span>Today's list</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading" style="margin-bottom:10px;margin-top:10px">
        Metrics
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item {% block completion_class %}{% endblock %}
       waves-effect waves-green nav-item-side"
            style="{% block completion_style %}{% endblock %}">
        <a class="nav-link collapsed" href="completion">
          <i class="fas fa-fw fa-chart-line"></i>
          <span>Completion</span>
        </a>

      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item {% block categories_class %}{% endblock %}
      waves-effect waves-green nav-item-side"
            style="{% block category_style %}{% endblock %}">
        <a class="nav-link" href="categories">
           <!--data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">-->
          <i class="fas fa-fw fa-chart-pie"></i>
          <span>Categories</span>
        </a>
          <!--
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="utilities-color.html">Colors</a>
            <a class="collapse-item" href="utilities-border.html">Borders</a>
            <a class="collapse-item" href="utilities-animation.html">Animations</a>
            <a class="collapse-item" href="utilities-other.html">Other</a>
          </div>
        </div>-->
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Usage
      </div>
      <li class="nav-item nav-item-side {% block reports_class %}{% endblock %}
      waves-effect waves-green"
        style="{% block reports_style %}{% endblock %}">
          <a href="reports" class="nav-link">
              <i class="fas fa-file-alt"></i>
              <span>Reports</span>
          </a>
      </li>

      <!-- Divider
      <hr class="sidebar-divider d-none d-md-block">-->

      <!-- Sidebar Toggler (Sidebar)
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>-->
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" style="background:url({% static 'memphis-mini-dark.png' %})">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
         <nav class="navbar navbar-expand topbar mb-4">

             <!-- Sidebar Toggle (Topbar) -->
             <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                 <i class="fa fa-bars"></i>
             </button>


             <!--Topbar Search-->
             <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                 <div class="input-group">
                     <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                     <div class="input-group-append">
                         <button class="btn btn-primary" type="button">
                             <i class="fas fa-search fa-sm"></i>
                         </button>
                     </div>
                 </div>
             </form>



             <!-- Topbar Navbar -->
             <ul class="navbar-nav ml-auto">

                 <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                 <li class="nav-item dropdown no-arrow d-sm-none">
                     <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="fas fa-search fa-fw" style="color:#35B11F"></i>
                     </a>
                     <!-- Dropdown - Messages -->
                     <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                         <form class="form-inline mr-auto w-100 navbar-search">
                             <div class="input-group"><input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                  <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                  </button>
                                </div>
                              </div>
                         </form>
                     </div>
                 </li>

                 <!-- Nav Item - Log out
                 <li class="nav-item no-arrow mx-1">
                     <button class="btn btn-sm nav-link" href="logout" role="button">
                         <i class="fas fa-power-off fa-fw" style="color:#35B11F"></i>
                     </button>
                 </li>
                 <div class="topbar-divider d-none d-sm-block"></div>-->

                  <!-- Nav Item - User Information -->
                 <li class="nav-item dropdown no-arrow">
                     <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <span class="mr-2 d-none d-lg-inline text-white small">{% block name %}{% endblock %}</span>
                         <i class="far fa-user" style="color:#1DB954"></i>
                     </a>
                     <!-- Dropdown - User Information -->
                     <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                          aria-labelledby="userDropdown" style="background:#1F231F;border:1px solid #1DB954">
                         <a class="dropdown-item text-white user-item item">
                             <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                              Date joined:{% block join_date %}{% endblock %}
                         </a>
                         <a class="dropdown-item text-white user-item">
                             <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                              Last login: {% block last_login %}{% endblock %}
                         </a>
                         <div class="dropdown-divider user-item"></div>
                         <a class="dropdown-item text-white" href="#" data-toggle="modal" data-target="#logoutModal">
                             <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                              Logout
                         </a>
                     </div>
                 </li>

             </ul>
         </nav>
        <!-- End of Topbar -->


        <!-- Begin Page Content -->
        <div class="container-fluid text-white" >

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4"
               style="margin-top:0;padding-top:0">
            <h1 class="h3 mb-0 text-white">{% block title %}{% endblock %}</h1>
            {% block options %}{% endblock %}
          </div>
          {% block content %}
          {% endblock %}
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer here -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true"
        >
    <div class="modal-dialog" role="document">
      <div class="modal-content text-white" style="background:#1F231F; transition:0.1s ease;border:1px solid #1DB954">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color:white">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'dash_files/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'dash_files/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'dash_files/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'dash_files/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'dash_files/vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'dash_files/js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'dash_files/js/demo/chart-pie-demo.js' %}"></script>

  <!-- Waves JS -->
  <script src="{% static 'waves.js' %}"></script>

  <script type="text/javascript">
   // Cause a ripple to occur on .box
    Waves.ripple('.box');

    // Ripple with a 1s delay between starting
    // and stopping the ripple, centred at
    // (20px, 20px) inside .box
    var options = {
        wait: 1000, //ms
        position: { // This position relative to HTML element.
            x: 20, //px
            y: 20  //px
        }
    };
    Waves.ripple('.box', options);
    Waves.attach('.button', ['waves-button', 'waves-float']);
    Waves.init();

    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    {% block js %}{% endblock %}
  </script>


</body>

</html>
